<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NodaTime" version="3.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net46" />
</packages>